{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    <a href="{{ path('account') }}">Retourner à mon compte</a> <br/>
    <hr>
    {% if notif_success %}
        <div class="alert alert-success">{{ notif_success }}</div>
    {% endif %}
    {% if notif_fail %}
        <div class="alert alert-danger">{{ notif_fail }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}
