/* ******* GENERALS ******* */

body {
  position: relative;
}

main {
  min-height: calc(100vh - 56px - 50px);
}

.block-small {
  max-width: 600px;
  margin: 0 auto;
}

/* **************************** */
/* ********** NAVBAR ********** */
/* **************************** */

.navbar-item-custom,
.navbar-item-custom a {
  color: white;
}

.cart-icon {
  height: 18px;
  padding: 0 20px;
}

/* **************************** */
/* ******* MAIN SECTION ******* */
/* **************************** */

.container.marketing {
  margin-top: 0.5em !important;
}

/* ******* ALL PRODUCTS PAGE ******* */

.product-container {
  margin-bottom: 150px;
}

.product-item {
  margin-top: 50px;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item .product-subtitle {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.product-item .product-price {
  font-size: 15px;
  font-weight: bold;
}

/* ******* PRODUCT PAGE ******* */

.product-page-price {
  font-size: 19px;
}

/* ******* ORDER PAGE ******* */

.order-summary {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 22px;
}

/* ********** FORM ********** */

.form-check {
  background-color: #f2f2f2;
  padding: 20px 65px;
  margin-top: 7px;
}

.col-form-label {
  font-weight: bold;
}

/* **************************** */
/* ********** FOOTER ********** */
/* **************************** */

.footer-custom {
  height: 50px;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 15px;
  background-color: #343a40;
  color: #fff;
}
